Adafruit-BBIO==0.0.20
Adafruit-GPIO==0.5.5
Adafruit-SSD1306==1.0.0
PIL==1.1.7
argparse==1.2.1
configobj==4.7.2
distribute==0.7.3
gyp==0.1
numpy==1.6.2
pyserial==2.5
smbus==1.1
spidev==2.0
urwid==1.0.1
wicd==1.7.2.4
wsgiref==0.1.2
textdata==1.0.2
ablib==1.1
