<?xml version="1.0" encoding="UTF-8"?>
<MainMenu>

    <Phone>
        <Title>Phone</Title>
        <Submenu>

            <Keypad>
                <Title>Dial number</Title>
                <Exec>call_number</Exec>
            </Keypad>

            <Favorites>
                <Title>Call favorite contact</Title>
                <Generator>gen_fav_contacts()</Generator>
            </Favorites>

            <Contacts>
                <Title>Call contact</Title>
                <Generator>gen_contacts()</Generator>
            </Contacts>

            <Messages>
                <Title>Vocal messages</Title>
                <Generator>fona.gen_voice_msg()</Generator>
            </Messages>

        </Submenu>
    </Phone>

    <TextMessage>
        <Title>Text messages</Title>
        <Generator>fona.gen_msg()</Generator>
    </TextMessage>

    <Email>
        <Title>Emails</Title>
        <Generator>get_emails()</Generator>
    </Email>

    <Contacts>
        <Title>Contacts</Title>
        <Generator>gen_contacts()</Generator>
    </Contacts>

    <Agenda>
        <Title>Agenda</Title>
        <Generator>gen_agenda()</Generator>
    </Agenda>

    <Settings>
        <Title>Settings</Title>
        <Submenu>

            <Adresse>
                <Title>Adresse IP</Title>
                <Exec>shell("""ip addr | sed '/192.168/!d' | cut -d" " -f6""")</Exec>
            </Adresse>

            <Batterie>
                <Title>Niveau batterie</Title>
                <Exec>method("self.fona.get_battery()")</Exec>
            </Batterie>

            <Memoire>
                <Title>Mémoire utilisée</Title>
                <Exec>shell("""free -mh | tr -s ' ' | sed '/buffers\/cache/!d' | cut -d" " -f4""")</Exec>
            </Memoire>

            <Version>
                <Title>Version</Title>
                <Exec>shell("""cat /proc/version""")</Exec>
            </Version>

        </Submenu>
    </Settings>

    <Shutdown>
        <Title>Shutdown</Title>
        <Exec>shutdown()</Exec>
    </Shutdown>

</MainMenu>
