<?xml version="1.0" encoding="UTF-8"?>
<MainMenu>

    <Agenda>
        <Title>Agenda</Title>
        <Generator>gen_agenda()</Generator>
    </Agenda>

    <Phone>
        <Title>Appels</Title>
        <Submenu>

            <Keypad>
                <Title>Appeler</Title>
                <Exec>call_number</Exec>
            </Keypad>

            <Favorites>
                <Title>Favoris</Title>
                <Generator>gen_fav_contacts()</Generator>
            </Favorites>

            <Contacts>
                <Title>Contacts</Title>
                <Generator>gen_contacts()</Generator>
            </Contacts>

            <Messages>
                <Title>Boîte vocale</Title>
                <Generator>fona.gen_voice_msg()</Generator>
            </Messages>

        </Submenu>
    </Phone>

    <Contacts>
        <Title>Contacts</Title>
        <Generator>gen_contacts()</Generator>
    </Contacts>

    <Email>
        <Title>Courriels</Title>
        <Generator>get_emails()</Generator>
    </Email>

    <TextMessage>
        <Title>Messages</Title>
        <Generator>fona.gen_msg()</Generator>
    </TextMessage>

    <Settings>
        <Title>Réglages</Title>
        <Submenu>

            <Adresse>
                <Title>Adresse IP</Title>
                <Exec>shell("""ip addr | sed '/192.168/!d' | cut -d" " -f6""")</Exec>
            </Adresse>

            <Espace>
                <Title>Espace libre</Title>
                <Exec>shell("""df -h -x tmpfs -x devtmpfs -x rootfs""")</Exec>
            </Espace>

            <JournalCell>
                <Title>Journal cell.</Title>
                <Exec>shell("""tail /var/log/pycell.log""")</Exec>
            </JournalCell>

            <JournalSys>
                <Title>Journal sys.</Title>
                <Exec>shell("""dmesg | tail""")</Exec>
            </JournalSys>

            <Batterie>
                <Title>Niveau batterie</Title>
                <Exec>method("self.fona.get_battery()")</Exec>
            </Batterie>

            <Memoire>
                <Title>Mémoire utilisée</Title>
                <Exec>shell("""free -mh | tr -s ' ' | sed '/buffers\/cache/!d' | cut -d" " -f4""")</Exec>
            </Memoire>

            <Version>
                <Title>Version</Title>
                <Exec>shell("""cat /proc/version""")</Exec>
            </Version>

            <Wifi>
                <Title>Wifi</Title>
                <Exec>shell("""cat /proc/net/wireless""")</Exec>
            </Wifi>

        </Submenu>
    </Settings>

    <Fortune>
        <Title>Fortune</Title>
        <Exec>shell("fortune")</Exec>
    </Fortune>

    <Shutdown>
        <Title>Éteindre</Title>
        <Exec>shutdown(soft=True)</Exec>
    </Shutdown>

</MainMenu>
